{% extends 'base.html' %}

    {%block link%}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/contacts.css') }}">
    {%endblock%}

    {%block title%}
        <title>Destruction-Contact</title>
    {%endblock%}


    {%block body%}


        <div class = "contacts">
          <div class = "information_contacts">
            <div class="wrap">
            <div class="panel">
            <h2>How to contact with us</h2>
              <p>You can get help on a wide range of issues by calling:<br>87777777777</p>
              <p>Teleram: <a href="https://t.me/theberik" class = "link_name">Destruct</a></p>
              <p>GitHub: <a href="https://github.com/Nurekenzo/destruction-aitu.github.io.git" class="link_name">Destruction</a></p>
              <p>Email: <a href="https://outlook.office.com/mail/" class="link_email"></a>destr@mail.ru</p>
            </div>
            </div>
          </div>
        </div>


    {%endblock%}















<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon">-->
<!--    <link rel="icon" href="{{ url_for('static',filename='images/favicon-32x32.png') }}" type="image/x-icon">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/contacts.css') }}">-->
<!--    <script src="/json/des.js" charset="utf-8" defer></script>-->
<!--    <title>About us</title>-->
<!--</head>-->

<!--<body>-->

<!--  <header class="header">-->
<!--    <div class = "container">-->
<!--      <div class = "header__inner">-->
<!--       <div class="header__logo">-->
<!--         <a href = '/'> <img src = "{{ url_for('static',filename= 'images/destruction.png') }}" width = 190%></a>-->
<!--       </div>-->
<!--         <nav class = "nav">-->
<!--           <a class="nav__link" href='/'>Home</a>-->
<!--             <a class="nav__link" href= /about>About us</a>-->
<!--             <a class="nav__link" href=/contact>Contacts</a>-->
<!--             <a class="nav__link" href = /register>Register</a>-->
<!--           <a class="nav__link" href=/login>Login</a>-->
<!--         </nav>-->
<!--       </div>-->
<!--     </div>-->
<!--   </header>-->

<!--   <div class="alert alert-success" role="alert">-->
<!--        <div class = "contacts">-->
<!--          <div class = "information_contacts">-->
<!--            <div class="wrap">-->
<!--            <div class="panel">-->
<!--            <h2>How to contact with us</h2>-->
<!--              <p>You can get help on a wide range of issues by calling:<br>87023697712</p>-->
<!--              <p>Teleram: <a href="https://t.me/theberik" class = "link_name">Nurassyl</a></p>-->
<!--              <p>GitHub: <a href="https://github.com/Nurekenzo/destruction-aitu.github.io.git" class="link_name">Destruction</a></p>-->
<!--              <p>Email: <a href="https://outlook.office.com/mail/" class="link_email"></a>212173@astanait.edu.kz</p>-->
<!--            </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</body>-->




