{% extends 'base.html' %}

    {%block link%}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    {%endblock%}

    {%block boots%}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	{%endblock%}

    {%block title%}
        <title>Destruction-Home</title>
    {%endblock%}


    {%block body%}
            <!---Header--->

        <!--INTRO_____TITLE-->
          <div class = "intro">
            <div class = "container_intro">
              <h1 class = "intro-text">Welcome <br>to our server</h1>
            </div>
          </div>

        <!--FEATURES-->
        <div class = "sec_page">
          <div class="sec_page_text">
          <section class="bar background-white" style="margin-bottom: 90px;">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="box-simple scale">
                <div class="icon-outlined"><img src="{{ url_for('static',filename='images/polite.png') }}" width = "20%"></div>
                <h3 class="h4">Polite company </h3>
                <p>Classic Minecraft is associated with children, but the "targets" of political servers are teenagers and students who have free time, no longer wanting to aimlessly build ordinary houses.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="box-simple scale">
                <div class="icon-outlined"><img src="{{ url_for('static',filename='images/online.png') }}" width = "15%"></div>
                <h3 class="h4">Good Online</h3>
                <p>Highstands is a Minecraft server currently trying to grow! We offer u one of the bests game modes! We offer u Bedwars, Skywars and Many more! Stay tuned for updates!</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="box-simple scale">
                <div class="icon-outlined"><img src="{{ url_for('static',filename='images/star.png') }}" width = "11%"></div>
                <h3 class="h4">More opportunities</h3>
                <p>The game has many different conditions and things that need to be considered. If a server copes with balancing the monetary and resource cycle, then it almost immediately acquires the status of a cult.</p>
              </div>
            </div>
          </div>
            </div>
        </section>
      </div>
        </div>

        <!--Parallax-->

        <div class="parallax" style="background-image: url(https://phonoteka.org/uploads/posts/2021-07/1625366249_19-phonoteka-org-p-neonovie-oboi-mainkraft-oboi-krasivo-20.jpg), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));">
            <h2 class="title">You can read about this project</h2>
            <div class="container" style="text-align: center;">
            <a href="/about" class="button">Learn More</a>
            </div>
        </div>

        <!--Some_INFO-->
        <div class="functionality" style="margin-bottom: 90px;">
        <div class="container-info">
            <br>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ url_for('static',filename= 'images/obito.jpg') }}" style="height: 400px;">
            </div>
            <div class="col-md-8" style="color:white;"><br><br><br>
                <h3>Nurassyl Berik</h3><br><br>
                <p class="mb32">Hi, I'm a back-end developer of this website. Nice to meet you, player! Just play and enjoy with us.</p>
                <br><br><br>
                <a class="button" href="/contact">MORE INFO</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 text-align: center;">
                <img class="img-fluid" src="{{ url_for('static',filename= 'images/qyz.png') }}" style="height: 400px;">
            </div>
            <div class="col-md-8" style="color:white;"><br><br><br>
                <h3>Dinmuhammed Meyrambek</h3><br><br>
                <p class="mb32">Hi, I'm an architect and engeener of this website. Nice to meet you, player! Just play and enjoy with us.</p>
                <br><br><br>
                <a class="button" href="/contact">MORE INFO</a>
            </div>
        </div>
            <br>
            <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ url_for('static',filename= 'images/kura.jpg') }}" style="height: 400px;">
            </div>
            <div class="col-md-8" style="color:white;"><br><br><br>
                <h3>Arsen Serikov</h3><br><br>
                <p class="mb32">Hi, I'm a designer of this website. Nice to meet you, player! Just play and enjoy with us.</p>
                <br><br><br>
                <a class="button" href="/contact">MORE INFO</a>
            </div>
        </div>
            <br>
        </div>
        </div>

        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active" style = "background-color:black">
              <div class="carousel-caption">
              <h3 class="mean">This is the best server I have ever played. There are unique games, very kind and open people. I often come here to have fun and talk with the players. I advise everyone, very fun!</h3>
              <p class="mean-1">_PortanE_</p>
              </div>
            </div>
            <div class="carousel-item" style = "background-color:black">
              <div class="carousel-caption">
              <h3 class="mean">This is the best server I have ever played. There are unique games, very kind and open people. I often come here to have fun and talk with the players. I advise everyone, very fun!</h3>
              <p class="mean-1">Millky_Way</p>
              </div>
            </div>
            <div class="carousel-item" style = "background-color:black">
              <div class="carousel-caption">
              <h3 class="mean">This is the best server I have ever played. There are unique games, very kind and open people. I often come here to have fun and talk with the players. I advise everyone, very fun!</h3>
              <p class="mean-1">_Ponedelnik_</p>
              </div>
            </div>
          </div>
          <!-- Left and right controls/icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>

        <!--FOOTER-->
        <footer class="footer">
            <p class="footer">Powered by <a class="footer-text" href="" target="_blank">destruction.kz</a></p>
        </footer>

    {%endblock%}


