<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static',filename='images/favicon-32x32.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='json/des.js') }}">
<!--    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">-->
    {%block link%}{%endblock%}
    {%block boots%}{%endblock%}
    {%block title%}{%endblock%}
</head>


<body>

                <!---Header--->
       <header class="header">
        <div class = "container">
          <div class = "header__inner">
           <div class="header__logo">
             <a href = '/'> <img src = "{{ url_for('static',filename= 'images/destruction.png') }}" width = 190%></a>
           </div>
             <nav class = "nav">
                 {% if user.is_authenticated %}
                 <a class="nav__link" href='/'>Home</a>
                 <a class="nav__link" href="/logout">Log out</a>
                 <a class="nav__link" href=/contact>CONTACTS</a>
                 <a class="nav__link" href=/about>About</a>
                 <a class="nav__link" href=/upload>UPLOAD</a>
                 <a class="nav__link" href=/resume>CREATE INFO</a>
                 <a class="nav__link" href=/files>FILES</a>
                 <a class="nav__link" href=/result>MY INFO</a>
                 {%else%}
                 <a class="nav__link" href =/register>Register</a>
                 <a class="nav__link" href=/login>Log in</a>
                 {%endif%}
             </nav>
           </div>
         </div>
       </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %} {% for category, message in messages %} {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissible fade show" data-bs-interval="1000" role="alert">
                    {{ message }}
                </div>
                {% else %}
                <div class="alert alert-success alter-dismissible " data-bs-interval="1000" role="alert">
                    {{ message }}
                </div>{% endif %} {% endfor %} {% endif %} {% endwith %}

         {%block body%} {%endblock%}


        <script
          type="text/javascript"
          src="{{ url_for('static', filename='index.js') }}"
    ></script>
    </body>
</html>