{% extends 'base.html' %}

    {%block link%}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style2.css') }}">
    {%endblock%}

    {%block title%}
        <title>Destruction-Files</title>
    {%endblock%}


    {%block body%}
      <div class="file_page">
          <div class="file_page_panel">
          {% for item in user.items %}
            <ul class="list-group list-group-flush" id="see_items">
              <li>
                {{item.name.rsplit('.', 1)[0] }} | <a href = {{url_for('views.download', id = item.id)}} >download</a>
                <button type="button" class="close" onClick="deleteItem({{ item.id }})">
                          <span aria-hidden="true">&times;</span>
                        </button>
              </li>

            </ul>
          {% endfor %}
              </div>
      </div>
    {%endblock%}